body{
    background-color: #f4f4f9;
    padding-top: 50px;
}

.concluida .texto-tarefa{
    text-decoration: line-through;
    opacity: 0.6;
}

.texto-tarefa{
    cursor: pointer;
    line-height: 30px;
}